* {
    box-sizing: border-box;
}

body {
    color: #2E2F42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    padding: 36px 156px;
}

input[type="number"][name="delay"][required] {
    display: block;
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    margin-bottom: 16px;
}

input[type="number"][name="delay"][required]:hover {
    border: 1px solid #000;
}

fieldset {
    display: inline-flex;
    width: 360px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 24px 48px 8px;
    gap: 48px;
    margin-bottom: 24px;
}

fieldset:hover {
    border: 1px solid #000;
}

button {
    display: block;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    width: 360px;
    padding: 8px 16px;
    background: #4E75FF;
    border-color: #4E75FF;
    color: #FFF;
}

button:hover {
    background: #6C8CFF;
}

button:disabled {
    border-color: #CFCFCF;
    background: #CFCFCF;
    color: #989898;
}

input[type="radio"][name="state"][required] {
    margin-right: 4px;
}